<h2 id="update-goal-header">Congratulations on Making Progress!</h2><br>

<p class="lead invalid"><%= emtpy_field if locals.include?(:empty_field) %></p>

<h4 id="instructions">Update the amount of time you worked on a muscle group today (record your time in minutes).</h4><br><br>

<form action="/entry/<%=@entry.id%>/update" method="post">

  <div id="align-exercise-table">
    <!-- Chest -->
    <div class="row">
      <div class="col-sm-offset-3 col-sm-1">
        <label for="chest" class="form-control-label">Chest:</label>
      </div>
      <div class="col-sm-1">
        <input type="text" id="chest" name="entries[chest]" class="form-control" placeholder="<%=@entry.chest%>">
      </div>

      <!-- Shoulders -->
      <div class="col-sm-1">
        <label for="shoulders" class="form-control-label">Shoulders:</label>
      </div>
      <div class="col-sm-1">
        <input type="text" id="shoulders" name="entries[shoulders]" class="form-control" placeholder="<%=@entry.shoulders%>">
      </div>
    </div><br>

    <!-- Back -->
    <div class="row">
      <div class="col-sm-offset-3 col-sm-1">
        <label for="back" class="form-control-label">Back:</label>
      </div>
      <div class="col-sm-1">
        <input type="text" id="back" name="entries[back]" class="form-control" placeholder="<%=@entry.back%>">
      </div>

      <!-- Arms -->
      <div class="col-sm-1">
        <label for="arms" class="form-control-label">Bi's/Tri's:</label>
      </div>
      <div class="col-sm-1">
        <input type="text" id="arms" name="entries[arms]" class="form-control" placeholder="<%=@entry.arms%>">
      </div>
    </div><br>

    <!-- Legs -->
    <div class="row">
      <div class="col-sm-offset-3 col-sm-1">
        <label for="legs" class="form-control-label">Legs:</label>
      </div>
      <div class="col-sm-1">
        <input type="text" id="legs" name="entries[legs]" class="form-control" placeholder="<%=@entry.legs%>">
      </div>

      <!-- Cardio -->
      <div class="col-sm-1">
        <label for="cardio" class="form-control-label">Cardio:</label>
      </div>
      <div class="col-sm-1">
        <input type="text" id="cardio" name="entries[cardio]" class="form-control" placeholder="<%=@entry.cardio%>">
      </div>
    </div><br>
  </div><br>

  <!-- Submit Button -->
  <div class="form-group row" id="update-button">
    <div class="col-sm-offset-4 col-sm-2">
      <button type="submit" value="submit" class="btn btn-primary btn-lg">Update Your Goal</button>
    </div>
  </div>

</form>
