<h2>Your Current Fitness Goal</h2><br><br>

<h2>Chest: <%= @entry.chest %></h2>
<h2>Back: <%= @entry.back %></h2>
<h2>Shoulders: <%= @entry.shoulders %></h2>
<h2>Arms: <%= @entry.arms %></h2>
<h2>Legs: <%= @entry.legs %></h2>
<h2>Cardio: <%= @entry.cardio %></h2>

<div class="form-group row">
  <div class="col-sm-1">
    <a href="/goals/<%=@entry.goal.id%>/update"><button type="submit" class="btn btn-success btn-lg">Update Goal</button></a>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-1">
    <a href="/goals/<%=@entry.goal.id%>/edit"><button type="submit" class="btn btn-success btn-lg">Edit Goal</button></a>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-1">
    <a href="/goals/<%=@entry.goal.id%>/delete"><button type="submit" class="btn btn-danger btn-lg">Delete Goal</button></a>
  </div>
</div>
