<h2>Your Current Fitness Goal</h2><br><br>

<h2>Chest: <%= @current_goal.entry.chest %></h2>
<h2>Back: <%= @current_goal.entry.back %></h2>
<h2>Shoulders: <%= @current_goal.entry.shoulders %></h2>
<h2>Arms: <%= @current_goal.entry.arms %></h2>
<h2>Legs: <%= @current_goal.entry.legs %></h2>
<h2>Cardio: <%= @current_goal.entry.cardio %></h2>
