<br><br>
<h2>Chest: <%= @entry.chest %>min</h2>
<h2>Back: <%= @entry.back %></h2>
<h2>Shoulders: <%= @entry.shoulders %></h2>
<h2>Arms: <%= @entry.arms %></h2>
<h2>Legs: <%= @entry.legs %></h2>
<h2>Cardio: <%= @entry.cardio %></h2>

<div class="form-group row">
  <div class="col-sm-1">
    <a href="/goals/<%=@entry.goal_id%>/edit"><button type="submit" value="edit" class="btn btn-success">Edit Goal</button></a>
  </div>
</div>

<form action="/goals/<%=@entry.goal_id%>/delete" method="post">
  <div class="form-group row">
    <div class="col-sm-1">
      <button type="submit" value="delete" class="btn btn-danger">Delete Goal</button>
    </div>
  </div>
</form>
